[ng-cloak], .ng-hide{
	display: none !important;
}

body {
	margin: 0 auto;
	padding: 0 2%;
	background: #FBFBFB;
	width: 96%;
	position: absolute;
	min-height: 90%;
}

.title{
	text-align: center;
}

/*
.sensor {
	height: 100%
}
*/

.sensor .infodiv {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	min-height: 140px;
	max-height: 200px;
	width: 96%;
}

.sensor .infodiv * {
	font-size: 19pt;
}

.sensor select {
	min-width: 300px;
}

select.alert,
option.alert {
	color: red;
}
select.good,
option.good {
	color: green;
}
option {
	color: black;
}

.sensor .info {
	min-width: 460px;
	text-align: center;
	border: 2px #0F0 solid;
}
.sensor .info.alert {
	border-color: #F00;
}

.sensor .info .date {
	margin: 0;
}

.sensor .info .temperature,
.sensor .info .signal {
	display: inline-block;
	vertical-align: top;
	margin: 19px 33px 8px;
	font-size: 160%;
	font-weight: bold;
	line-height: .42;
}

.mini {
	font-size: 42% !important;
	font-weight: normal;
}

.sensor .graph {
	display: flex;
	/*flex-wrap: wrap;*/
	/*align-items: stretch;*/
	min-height: 400px;
}
.sensor .graph > * {
	width: 100%;
	max-height: 400px;
}
