body {
	margin: 0 auto;
	padding: 0 2%;
	background: #FBFBFB;
}

.title{
	text-align: center;
}


.sensor * {	
	font-size: 24px;
}

.sensor .infodiv {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-around;
	position: absolute;
	height: 140px;
	width: 96%;
}

.sensor select {
	min-width: 300px;
	height: 33%;
}

option.alert {
	color: red;
}
.good {
	color: green;
}

.sensor .info {
	min-width: 420px;
	max-width: 42%;
	height: 80%;
	text-align: center;
	border: 2px #0F0 solid;
}
.sensor .info.alert {
	border-color: #F00;
}

.sensor .info .date {
	margin: 0;
}

.sensor .info .temperature,
.sensor .info .signal {
	display: inline-block;
	height: 50%;
	vertical-align: middle;
	padding: 21px 33px 0;
	width: 160px;
	margin: 0;
	font-size: 160%;
	font-weight: bold;
	line-height: 12px;
}

.mini {
	font-size: 42%;
	font-weight: normal;
}